<%= render "partials/nav" %>

<div class="container">
  <div class="row">
    <div class="large-4 columns">
      <img src="<%= current_user.avatar:medium %>">
      <h2><%= current_user.username %> <small>Their title</small></h2>
      <h4> SKILLS, TAG, CLOUD, NINJA, WOWLAND, ARAND, ADD, USER, TAG, CLOUD, HERE<h4>
    </div>
    <div class="large-8 columns">
      <div class="alertboxplaceholder"><p>Alertbox Placeholder<p><p>Woa man placeholder Alert1<p><p>alert placeholder 2<p><p>Ninja placeholder alert<p></div>
      <a href="/projects" class="add-proj-button right button tiny">Get Involved!</a>
      <div class="panel currentprojectspanel">
        <h5>Current Projects:</h5>
          <% current_user.projects.each do |project| %>
          <a href="/projects/<%= project.id %>" class="button project-button"><%= project.name %></a>
          <% end %>
      </div>
    </div>
  </div>
</div>
