<h1>Sign Up</h1>

<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.text_field :username, placeholder: "username" %>
    <%= f.text_field :email, placeholder: "email" %>

    <%= f.password_field :password, placeholder: "password" %>

    <%= f.password_field :password_confirmation, placeholder: "confirm password" %>

    <%= f.submit "Sign Up" %>
<% end %>
