<h1>Create Project</h1>

<%= form_for @project do |f| %>
  <% if @project.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% @project.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.text_field :name, placeholder: "name" %>
    <%= f.text_field :mission, placeholder: "mission" %>
    <%= f.text_field :description, placeholder: "description" %>

    <%= f.submit "Create Project" %>
<% end %>
