<h1><%= @project.name %></h1>
<h3><%= @project.mission %></h3>
<p><%= @project.description %></p>
<ul>
  <% @project.users.each do |member| %>
    <li><%= member.username %></li>
  <% end %>
</ul>

<% if !@project.users.include?(current_user) %>
  <a href="/projects/<%= @project.id %>/join">
    <button>Join <%= @project.name %></button>
  </a>
<% end %>
